{% extends 'base.html' %}
{% block contact %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-3">contact -us</h1>
        <div class="row">
            <div class="col py-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque facilis, earum aut esse laudantium sed quibusdam, magni dolorem, porro corrupti. Culpa repellendus reiciendis dolor quas possimus fugit, distinctio aspernatur?
                Officiis maxime quod expedita tempore id odio vel ratione quis facere eius voluptatum porro amet, molestiae qui, iure recusandae explicabo repellat molestias, nesciunt deserunt repellendus quas magni impedit. Asperiores, numquam?
                Totam eligendi dolores quia recusandae inventore, vel porro officiis nam quisquam aliquam ut. Eum, dolorum est deserunt minus cumque recusandae consectetur eaque vitae distinctio necessitatibus illo a ipsum, veniam molestias.
                Tempora molestias expedita consequuntur porro corrupti vitae cumque perspiciatis, iusto voluptate reprehenderit neque enim ex dignissimos obcaecati, sit cum laboriosam rerum laborum impedit error voluptas repellat repellendus voluptatum nobis! Itaque?
                Nisi velit rem sint veniam cum, vero sit nulla veritatis facere natus nemo aliquid dolores quia suscipit quod minus doloribus dignissimos harum dolor aspernatur? Laudantium ipsam doloribus iusto! Maiores, cumque.
                Nostrum dolorum harum suscipit est quo vel ad impedit voluptas dicta, eligendi, aut, deserunt facilis quibusdam nulla illum quasi porro laudantium saepe nemo sequi soluta alias. Nam consequatur amet nisi!
                Illo sunt voluptatem aliquam expedita, nihil laudantium culpa vero recusandae vel, quos est officia, quas assumenda quaerat voluptatibus placeat necessitatibus velit reprehenderit ullam possimus. Debitis iste reiciendis maxime reprehenderit eius.
                Unde quo minima quis maxime optio exercitationem similique recusandae beatae nostrum, impedit officiis tempora assumenda facere deleniti voluptate. Culpa iste autem expedita dolor provident quasi nostrum nisi, voluptate necessitatibus sint!
                Blanditiis, repudiandae esse distinctio, magni molestias error nobis delectus soluta non tempora exercitationem sunt ad? Dolorem cumque necessitatibus est, iure quisquam, adipisci fugit sapiente, ratione fugiat magnam numquam explicabo porro!
                Sint similique tenetur quod in voluptatibus ipsa error vel corrupti voluptatem aliquam! Obcaecati, natus saepe. Nesciunt voluptatibus in alias dicta iusto vel molestias ducimus enim? Quis soluta possimus necessitatibus aperiam!
                Illo, quas laudantium fugiat quis dolor iure eum accusamus molestiae, eligendi error architecto nobis totam blanditiis soluta! Sed quo, magni atque necessitatibus velit voluptatem itaque asperiores dolorem facilis non fugit?
                Consectetur iste maxime, aspernatur cupiditate explicabo excepturi molestias saepe recusandae doloribus totam, perspiciatis obcaecati repellendus sit unde quam reprehenderit nam provident et quo vitae nihil suscipit nisi! Officiis, sed natus.
                Tempore expedita accusantium facilis molestiae nesciunt temporibus ea non illo eos ducimus eius doloremque nemo explicabo velit, illum consectetur? Repellendus, corrupti. Repudiandae, quas odio! Beatae quidem laudantium ipsa adipisci iusto.
                
            </div>
               
        </div>
    </div>

    
</body>
</html>

{% endblock contact %}